{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
        <div class="container">
        	<h1 style="text-align: center" class="h3 mb-3 font-weight-normal">Register</h1>
        	<div class="row">
        		<div class="col-6 text-center">
        			<div  class="form-group">
        				{{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
        				{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        				{{ form_row(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
        				<div class="col text-center">
        					<button class="btn btn-primary btn-lg">Register</button>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
